.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 400px;
  height: 400px;
}

.not-found-header {
  color: #616e7c;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
}

.not-found-text {
  color: #dcdcdc;
  font-size: 20px;
  font-family: Roboto;
}
